body {
	font-size:16px; 
	line-height:22px; 
	text-align:left; 
}
html,body{
	overflow: hidden
}
.resizeimage img { width: 100%;
 }

 div#container {
 	width:auto; margin: auto;
 	padding: 0px; 
}



.buttan_default {width:200px;
  height:150px;
  position:absolute;
  top:350px; left:400px}

.buttan_calender {width:200px;
  height:150px;
  position:absolute;
  top:130px; left:50px}

.form {visibility:hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 540px;
  height: 600px;
  background: #cff;
  box-shadow: 20px 20px 20px gray}

/*
.form p {
  margin: 20px;
  display: flex;
  font-size: 32px;
}
.radios {
  height: 32px;
  width: 32px;
}
*/
.charset1 {font-family: monospace;
  font-size:30px;
  position: absolute;
  background-color: #fff;
  top: 5px;
  left: 80px;}

.rei {font-size:50px;
  position: absolute;
  padding: 10px 0;
  color: #f0f;
  margin: 1.0em 0;
  top: -10px;
  left: 300px;}

.rei::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  width: 300px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid #faf;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);}

input[type=radio], input[type=checkbox] {
  display: none;
}

.radio, .checkbox {
  box-sizing: border-box;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
}
.radio:hover, .checkbox:hover {
  background-color: #e2edd7;
}
.radio:hover:after, .checkbox:hover:after {
  border-color: #53b300;
}
.radio:after, .checkbox:after {
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
}

.radio:before {
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-25%);
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #53b300;
  content: '';
  opacity: 0;
}
input[type=radio]:checked + .radio:before {
  opacity: 1;
}



#mycanvas{
  position:absolute;
  top:39%;
  left:57%;
}

#mycanvas1{
  position:absolute;
  top:39%;
  left:71%;
}

#mycanvas2{
  position:absolute;
  top:39%;
  left:85%;
}


/*button*/
/*
.button1{
	position: absolute;
	top:70%;
	left:60%;
}

.button2{
	position:absolute;
	top:70%;
	left:63%;
}

.button3{
	position:absolute;
	top:70%;
	left:65%;

}

.button4{
	position:absolute;
	top:70%;
	left: 67%;
}

.button5{
	position:absolute;
	top:70%;
	left: 69%;
}


*/